@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #e9e7e1;
  background-image: url(background/back3.png);
}
h1{
  font-weight: 200;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-image: url(background/prism.png);
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #e9e7e1;
    border: 10px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-top: 15px;
    /* background-image: url(background/herringbone.png); */
    border-color: rgb(35, 90, 90);
}
button a{
    color: #e9e7e1;
    text-decoration: none;
}
button:hover{
    background-color: #38a;
    /* background-image: url(background/greek-vase.png); */
}